{% extends 'core/base.html' %}
{% block content %} 
<div class="container mt-5">
 <h1 class="text-warning mb-5 border-bottom">We Provide World Class Services</h1>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
   <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
   <h3>SEO</h3>
   <p class="ss-color">SEO targets unpaid traffic rather than direct traffic or paid traffic.</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-palette fa-2x mb-3 i-color"></i>
   <h3>Web Design</h3>
   <p class="ss-color">Worked on the appearance, layout, and, in some cases, content of a website. Appearance, for instance, relates to the colors, font, and images used.</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-code fa-2x mb-3 i-color"></i>
   <h3>Web Development</h3>
   <p class="ss-color">Involved in developing a website for the Internet or an intranet.</p>
  </div>
 </div>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
   <i class="fab fa-android fa-2x mb-3 i-color"></i>
   <h3>Android</h3>
   <p class="ss-color">Android is a mobile operating system based on a modified version of the Linux kernel and other open-source software, designed primarily for touchscreen mobile devices such as smartphones and tablets.</p>
  </div>
  <div class="col-sm-4">
   <i class="fab fa-apple fa-2x mb-3 i-color"></i>
   <h3>iOS</h3>
   <p class="ss-color">iOS is a mobile operating system created and developed by Apple Inc. exclusively for its hardware.</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-ad fa-2x mb-3 i-color"></i>
   <h3>Advertising</h3>
   <p class="ss-color">Internet advertising, digital advertising or web advertising.</p>
  </div>
 </div>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
   <i class="fas fa-pencil-alt fa-2x mb-3 i-color"></i>
   <h3>Logo Design</h3>
   <p class="ss-color">These logo design ideas will help you design a logo that's perfect for your brand. Get inspiration and creative tips for your logo.</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-database fa-2x mb-3 i-color"></i>
   <h3>Hosting</h3>
   <p class="ss-color">Reliable Hosting Solutions For Your Needs. Choose from Shared, VPS, Dedi & Specialized WP.</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-headset fa-2x mb-3 i-color"></i>
   <h3>Support</h3>
   <p class="ss-color">Our Online Support will provide you with many useful functions, valuable information, tips and practical assistance.</p>
  </div>
 </div>

</div>
{% endblock content %}